<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.connection.password">Password123#</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        
        <!-- <mapping resource = "org/hib/create/Person.hbm.xml"/> -->
       <!--  <mapping resource = "org/hib/read/Book.hbm.xml"/> -->
       <mapping resource = "org/hib/lazy/Order.hbm.xml"/>
      <!--  <mapping resource = "org/hib/delete/Laptop.hbm.xml"/> -->
    </session-factory>
</hibernate-configuration>