<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">
	
	<bean id = "addr" class = "com.lara.beans.Address">
	<property name = "houseNo" value = "123/B"/>
	<property name = "streetName" value = "BTM 2nd Stage"/>
	</bean>
	
	<bean id="person" class="com.lara.beans.Person">
	
	<property name="firstName" value="Mahantesh"/>
	
	<property name="age" value="28"/>
	
	<property name="weight" value="78.89"/>
	
	<property name="mails">
		<list>
			<value>mantiway@indiatimes.com</value>
			<value>mantsway@rediffmail.com</value>
			<value>mahantesh378@gmail.com</value>
		</list>
	</property>
	
	<property name="mobiles">
		<list>
		 	<value>9844990484</value>
		 	<value>9876543210</value>
		 	<value>1234567890</value>
		</list>
	</property>
	
	<property name="loverNames">
		<set>
			<value>Spring</value>
			<value>India</value>
			<value>Dell</value>
		</set>
	</property>
	
	<property name = "education">
		<map>
			<entry key = "degree" value = "B.Tech"/>
			<entry key = "postDegree" value = "M.Tech"/>
		</map>
	</property>
	
	<property name = "project">
		<props>
			<prop key = "mini">java project</prop>
			<prop key = "major">j2ee project</prop>
		</props>
	</property>
	
	<property name = "permanentAddress" ref = "addr"/>
	</bean>
</beans>